apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    component: scheduler
  name: node-order-scheduler
  namespace: scheduler-plugins
spec:
  selector:
    matchLabels:
      component: scheduler
  replicas: 1
  template:
    metadata:
      labels:
        component: scheduler
    spec:
      serviceAccountName: node-order-scheduler
      containers:
        - command:
            - node-order-scheduler
            - --config=/etc/kubernetes/scheduler-config.yaml
            - --v=3
          name: node-order-scheduler
          image: node-order-scheduler:v1
          imagePullPolicy: Never
          volumeMounts:
            - name: scheduler-config
              mountPath: /etc/kubernetes
              readOnly: true
      hostNetwork: false
      hostPID: false
      volumes:
        - name: scheduler-config
          configMap:
            name: node-order-scheduler-config